RewriteEngine On
RewriteBase /bgallery/
RewriteRule ^image.thumb.([a-z0-9-\.]+)$ image.php?ifolder=thumbs&iname=$1 [NC,L]
RewriteRule ^image.full.([a-z0-9-\.]+)$ image.php?ifolder=full&iname=$1 [NC,L]
RewriteRule ^(images/|templates/|classes/) - [F,L,NC]
